
.master-container{
    border:  solid 1px red;
        
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.masthead-header{
    grid-column:1/4 ;
    border: solid 1px blue;  
    display: grid;
  
}

.top-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;

}


.title-page > header{
    display: grid;
    align-items: baseline;
}



