
.master-container{
    border:  solid 1px red;
        
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.masthead-header{
    grid-column:1/4 ;
    border: solid 1px blue;  
    display: grid;
  
}

.top-nav{
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-top: 30px;

}

.title-page {
display: grid;
}

.title-page > header{
    padding-left: 10px;
    display: grid;
    align-self: end;
    font: bold 50px verdana;
}

.navigation-bar{
    display: grid;
}

.menu{
    display: grid;
    align-self: end;
}

.menu ul{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 8fr;
    list-style: none;

}
.menu li {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: grid;

    font: bold 18px verdana;
}


