
.master-container{
    background-color: rgb(238, 152, 53);
        
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;

}

.masthead-header{
    grid-column:1/4 ;
    display: grid;

    /*Whit this the navigation bar keep its position even when you scroll down*/
    position: sticky; 
    position: sticky;
    top: 0;
}

.top-nav{
    display: grid;
    grid-template-columns: 0.5fr 4fr;
    padding-top: 30px;
    gap: 0.5em;
    background-color: rgb(20, 20, 20);

}

.title-page {
display: grid;
}

.title-page > header{
    padding-left: 10px;
    display: grid;
    align-self: end;
    font: bold 50px verdana;
    color: seashell;
    margin-bottom: 10px;
}

.navigation-bar{
    display: grid;
}

.menu{
    display: grid;
    align-self: end;
}

.menu ul{
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 8fr;
    list-style: none;

}
.menu li {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;

    font: bold 18px verdana;
    color: seashell;
    margin-bottom: 15px;
}

.body-container{
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: [row1-titular] 3fr auto;
    background-color:black;
}

.upper-section{
    display: grid;
    grid-column: 1/4;
    grid-column-end: row1-titular;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.main-article{
    display: grid;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-content: center;
    justify-items: center;
}

.main-article img{
    height: 600px;
    width: 800px;
    margin-top: 10px;
}

.main-article h1{
    font: bold 32px verdana;
    color: cornsilk;
    margin-top: 0px;
}

/*Change the opacity of pictures when the cursor hovers them*/

.overlay {
    display: grid;
    opacity: 1;
    transition: .5s ease;
  }

.main-article:hover .overlay{
    opacity: 0.2;
    border: solid 20px rgba(238, 152, 53, 0.5);
}

.sub-article:hover .overlay{
    opacity: 0.2;
    border: solid 10px rgba(238, 152, 53, 0.5);
}

.lower-section{
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0.5em;
    justify-content: center;
    justify-items: center;
    align-content: center;
    border-top: double 10px rgb(238, 152, 53);
    padding: 20px;

}

.sub-article{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
}

.sub-article img {
    display: grid;
    height: 600px;
    width: 320px;
    
}

.sub-article h2{
    display: grid;
    text-align: center;
    font: bold 28px verdana;
    color: cornsilk;
}